<!-- Font Awesome CDN -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<link rel="stylesheet" href="/styles/profile.css">

<div class="container">
    <div>
        <%- include('../partials/nav') %>
            <main class="main">
                <div class="profile">
                    <div class="profile_left">
                        <div class="profile_badge">
                            <img src="/img/profile.webp" alt="" class="profile_icon">
                        </div>
                        <div class="file-upload">
                            <input type="file" id="fileInput" hidden />
                            <label for="fileInput" class="custom-file-label">Choose File</label>
                            <span id="fileName">No file chosen</span>
                        </div>
                    </div>
                    <div class="profile_right">
                        <div class="details">
                           <div>
                            <div class="detail_contact">
                                <div class="icons">
                                    <i class="fa fa-university"></i>
                                    <span>School</span>
                                </div>
                                <p> <%= user.name %></p>
                            </div>
                            <div class="detail_contact">
                                <div class="icons">
                                    <i class="fa fa-envelope"></i>
                                    <span>Email</span>
                                </div>
                                <p><%= user.email %></p>
                            </div>
                           </div>
                            <div>
                                <div class="detail_contact">
                                    <div class="icons">
                                        <i class="fa fa-phone-square"></i>
                                        <span>Contact</span>
                                    </div>
                                    <p><%= user.phone %></p>
                                </div>
                                <div class="detail_contact">
                                    <div class="icons">
                                        <i class="fa fa-home"></i>
                                        <span>Address</span>
                                    </div>
                                    <p><%= user.address %></p>
                                </div>
                            </div>
                            <div class="edit-btn" onclick="editProfile()">
                                <i class="fa fa-edit"></i>
                                <p>EDIT PROFILE</p>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <%- include('../partials/hamburger.ejs') %>
    </div>
</div>
<script defer>
    document.querySelector('.hambuger').addEventListener('click', function() {
    document.querySelector('.main_nav').classList.toggle('open');
    console.log("clicked");
  });

</script>